@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  background: transparent;
}

body {
  background: url('/public/bg_image.png') no-repeat center center fixed,
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(33, 37, 41, 0.85) 50%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    radial-gradient(
      circle at top left,
      rgba(255, 105, 180, 0.2),
      transparent 60%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0, 206, 209, 0.2),
      transparent 60%
    );
  background-size: cover, cover, cover, cover; /* Ensures all layers scale appropriately */
  background-blend-mode: overlay; /* Blends gradients with the image */
  background-attachment: fixed; /* Locks the image in place during scroll */
  color: white;
}


@keyframes background-animation {
  0% {
    background-position: 0% 0%, 0% 0%, 100% 100%;
  }
  100% {
    background-position: 100% 100%, 100% 100%, 0% 0%;
  }
}

.clip-path {
  clip-path: polygon(0% 12%, 100% 12%, 100% 100%, 0% 100%);
}

.cropped-image {
  height: 14rem;
}

.carouselClasses ul {
  background: transparent;
}

.gridClass {
  display: grid;
  grid-column: 4fr 1fr;
}

.vignette {
  position: relative;
  /* Add a radial gradient background to create the vignette effect */
  background: radial-gradient(
    ellipse at center,
    rgba(85, 66, 34, 0.6) 0%,
    rgba(199, 148, 59, 0.8) 200%
  );
  /* You can adjust the size and position of the vignette by changing these values */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dwd-button{
  margin: 2%;
  border: 2px solid rgb(33, 147, 33);
  color: rgb(146, 207, 146);
  padding: .5rem;
  border-radius: 4px;
  &:hover {
    transform: scale(1.05);
    color: white;
    background-color: rgb(41, 111, 41);
  }
}

.contentClass div h2 a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentClass a, .contentClass a button{
  margin: 2% !important;
}

.contentClass .responsive-embed-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentClass iframe {
  margin: 2%;
  width: fit-content;
  height: 100%;
}

@media screen and (min-width: 475px) {
  .contentClass iframe {
    width: 100%;
    height: 18rem;
  }
}

@media screen and (min-width: 575px) {
  .contentClass iframe {
    width: 35rem;
    height: 24rem;
  }
}
